.dialog-title {
  text-align: center;
}

.actions {
  text-align: center;
}

.mat-raised-button {
  margin: 10px;
}

h3 {
  font-size: 20px;
  padding-top: 18px;
  font-weight: bold;

}

.usa-alert__body {
  margin: auto;
  width: 40%;
  padding: 5px 0;
  text-align: center;
}

.fa-info-circle {
  color: #2378c3;
}
