<div class="usa-alert__body"><i class="fas fa-info-circle fa-4x"></i>

  <h3 *ngIf="cancelEvent === 'cancelCreate{{singularWord}}'" matDialogTitle class="usa-alert__heading"> Cancel new {{singular}}
    creation? </h3>
  <h3 *ngIf="cancelEvent === 'cancelUpdate{{singularWord}}'" matDialogTitle class="usa-alert__heading"> Cancel {{singular}} editing?
  </h3>
  <mat-dialog-content id="form-dialog">
    <div class="question">
    </div>
  </mat-dialog-content>


  <div class="actions">
    <button class="usa-button usa-button--outline" (click)="close('Yes')"> Yes </button>
    <button class="usa-button usa-button--outline" (click)="close('No')">No</button>
  </div>
</div>