.list {
  max-width: 1200px;
  background-color: white;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  border-radius: 5px;
  box-shadow: 3px 5px 6px #989898;
}

.mat-paginator {
  background-color: transparent;
}

.screen-header {
  width: 100%;
  margin-bottom: 5px;
  height: 85px;
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
}

.headerText {
  float: left;
  margin-right: 3px;
  margin-left: 13px;
  margin-bottom: 4px;
  font-family: sans-serif;
  font-size: 33px;
}

.search {
  padding-left: 28px;
  display: flex;
}

.search-field-small {
  width: 194px;
}

.usa-search {
  padding-top: 3px;
  margin-left: 9px;
  border-radius: 5px 0px 0px 5px;
}

th {
  background-color: #edeff0;
  color: black;

  font-size: 14px;
  text-align: center;
}

td.mat-cell {
  padding: 12px;
}

tr {
  background: #f9f9f9;
}

tr:nth-child(odd) {
  background: white;
}

th.mat-header-cell {
  padding-left: 12px;
}

/*# ICONS  */

.fas {
  float: left;
  padding: 10px;
  font-size: 18px;
}

.far {
  float: left;
  padding: 10px;
  font-size: 18px;
}

.fa-plus-circle {
  color: #2c608a;
  font-size: 24px;
}

.fa-plus-circle:hover {
  color: #1f303e;
}

.fa-edit {
  color: #28a0cb;
}

.fa-edit:hover {
  color: #074b69;
}

.fa-trash-alt {
  color: #d83933;
}

.fa-trash-alt:hover {
  color: #6f3331;
}

.fa-eye {
  color: #5c5c5c;
}

.fa-eye:hover {
  color: #1b1b1b;
}

@media only screen and (max-width: 1200px) {
  .search {
    padding-left: 0px;
  }

  .search-field-small {
    width: 134px;
  }
}

@media only screen and (max-width: 950px) {
  .search {
    padding-left: 10px;
  }

  .screen-header {
    margin-bottom: 12px;
  }

  .search-field-small {
    width: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .headerText {
    font-size: 28px;
  }

  .fa-plus-circle {
    font-size: 22px;
  }

  .search-field-small {
    width: 132px;
  }
}
