.dialog-title {
  text-align: center;
}

.actions {
  text-align: center;
}

.mat-raised-button {
  margin: 10px;
}

h3 {
  font-size: 20px;
  padding-top: 18px;
  font-weight: bold;

}

.usa-alert__body {
  margin: auto;
  width: 10%;
  padding: 5px 0;

  text-align: center;
}

.fa-exclamation-circle {
  color: #d83933;
}
