.usa-input-grid {
  float: initial;
}

.create{{singularWord}}Wrapper {
  margin-top: 20px;
}

.view{{singularWord}}HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
