<div class="grid-row">
  <div>
    <legend class="usa-legend">Edit {{singularWord}}</legend>
  </div>
</div>
<!-- Title 1 and section-->
<div class="grid-row header">
  <div class="tablet:grid-col-9 ">
    <h1 id="contractTitle" class="title">Details</h1>
  </div>
  <div class="grid-col-6 tablet:grid-col-3">
    <div class="date"></div>
  </div>
</div>
<div class="grid-row">
  <div class="grid-col-12 tablet:grid-col-6">
    {{#each propertiesReadOnly}}
    {{edit-row-readonly ../singular}}
    {{/each}}
  </div>
</div>

<div class="grid-row">
  <div class="grid-col-12 tablet:grid-col-5">
    <div class="formBody">
      <form class="usa-form" name="form" *ngIf="{{singular}}" [formGroup]="{{singular}}DetailsForm"
        id="{{singular}}EditForm">
        <fieldset class="formWrapper">

          {{#each propertiesEditable}}
          {{edit-row}}
          {{/each}}
          <div class="actionButton">
            <p>

              <button class="usa-button usa-button--outline " (click)="cancelUpdate('cancelUpdate{{singularWord}}')"
                id="cancelButton">Cancel</button>
              <button class="usa-button usa-button--green" [disabled]="{{singular}}DetailsForm.invalid"
                id="updateButton" (click)="update{{singularWord}}()">Update</button>

            </p>
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>