<form class="usa-form" name="form" *ngIf="{{singular}}" [formGroup]="{{singular}}DetailsForm" id="{{singular}}EditForm">
  <fieldset class="create{{singularWord}}Wrapper">
    <div>
      <legend class="usa-legend">Edit {{singularWord}}</legend>
    </div>
    {{#each properties}}
    {{edit-row}}
    {{/each}}
    <p>
      <button class="usa-button usa-button--outline " (click)="cancelUpdate('cancelUpdate{{singularWord}}')"
        id="cancelButton">Cancel</button>
      <button class="usa-button usa-button--green" [disabled]="{{singular}}DetailsForm.invalid"
      id="updateButton" (click)="update{{singularWord}}()">Update</button>

    </p>
  </fieldset>

</form>