.grid-container {
  float: initial;
}

h2 {
  padding-right: 15px;
  margin-left: 12px;
  font-family: sans-serif;
  color: #003470;
}

.create{{singularWord}}Wrapper {
  margin-top: 1px;
  padding: 2em;
  padding-right: 5rem;
  background-color: white;
  border-style: none;
  width: 30rem;
  margin-bottom: 30px;
  box-shadow: 7px 7px 5px #f1f3f6;

}

.usa-form {
  margin: inherit;
  font-family: sans-serif;
}

.usa-legend {
  color: #003470;
}

#{{singular}}TypeWrapper {
  width: inherit;
}

p {
  text-align: center;
  padding-top: 10px;
}



// Form fill sheet
.usa-input {
  display: block;
  width: 100%;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c9c9c9;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.usa-error-message {

  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #d83933;
}

.usa-input--error {

  border: 1px solid #d83933;



}

.usa-select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c9c9c9;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.usa-button--outline {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #005ea2;
  box-shadow: inset 0 0 0 2px #005ea2;
  color: #005ea2;
}

.usa-button--outline:visited {
  color: #005ea2;
}

.usa-button--outline:hover,
.usa-button--outline.usa-button--hover {
  background-color: #1a4480;
  -webkit-box-shadow: inset 0 0 0 2px #1a4480;
  box-shadow: inset 0 0 0 2px #1a4480;
  color: #ffffff;
}

.fa-plus-circle {
  color: #005ea2;

  padding-top: 12px;
}

.fa-plus-circle:hover {
  color: #1f303e
}
