.header {
  background-color: #3d4551;
  width: 100%;
  color: white;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;

}

.usa-form {
  max-width: 56rem;
}

.form_space {
  padding-right: 20px;
}

form {
  padding-left: 30px;
  padding-right: 30px;
}

.usa-alert-success {
  background-color: #dbebde;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 31px;
  color: #446443;

  display: flex;


  .fas {
    padding-top: 8px;
    color: #446443;

  }


  .message {
    padding-left: 35px;
    display: block;
    line-height: 1px;
    padding-bottom: 10px;


    .usa-alert-title {
      font-family: sans-serif;
      font-size: 24px;
    }

    .usa-alert-message {
      font-family: sans-serif;
      margin-bottom: 0px;
      color: #5C5C5C;
      font-size: 16px;
    }
  }
}



.usa-textarea {
  background-color: white;
  border-radius: 5px;
  width: 579px;


}

.section {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  padding-top: 20px;
  max-width: 90%;

  padding-left: 20px;
}

.title {
  text-align: left;
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 26px;

}

.field {
  font-family: sans-serif;
  font-size: 15px;
  color: #848484;
  font-weight: bold;
}


.content {
  font-family: sans-serif;
  font-size: 20px;

}


.date {
  padding-top: 7px;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .date {
    text-align: left;
    padding-top: 0px;
    font-size: 16px;

  }
}

.cards {

  background-color: white;
  margin-top: 15px;

  height: 46%;
  text-align: center;
  border: none;
  box-shadow: 2px 3px 4px #989898;
}

.card_unit {
  font-size: 35px;
  color: #21827f;
  padding-bottom: 6px;
  padding-top: 25%;


}

.card_title {
  font-size: 16px;
  color: #757575;
  padding-bottom: 25%;
  padding-left: 6px;
  padding-right: 6px;
}

.chart {
  padding-top: 10px;
}

.chart_card {

  min-height: 95.5%;
  max-height: 95.5%;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background-color: white;
  margin-left: 10px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 4px #989898;
}

.chart_title {
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 2px;
  color: #757575;
  padding-bottom: 2px;
  font-weight: bold;
}

.topcard {

  background-color: white;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 2px 3px 4px #989898;
}


.body {
  margin-left: 15px;
  margin-right: 15px;

}

td {
  padding: 0.5rem;
}

th {
  padding: 6px;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

h3 {
  font-family: sans-serif;
  font-size: 35px;
  color: #929292;
  font-weight: bold;
}

.center {
  margin: auto;
  width: 22%;
}

.usa-checkbox__label {
  font-size: 20px;
  color: #929292;
  font-family: sans-serif;
}
