<form class="usa-form-large" name="form" [formGroup]="{{singular}}DetailsForm">
  <fieldset class="create{{singularWord}}Wrapper">
    <legend>New {{singularWord}}</legend>
    {{#each properties}}
        {{create-row}}
    {{/each}}
  </fieldset>
  <p>
    <button [disabled]="{{singular}}DetailsForm.invalid" (click)="create{{singularWord}}()">Create</button>
    <button class="usa-button-secondary" (click)="cancelCreate('cancelCreate{{singularWord}}')" id="cancel{{singularWord}}">Cancel</button>
  </p>
</form>


